.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-right: 24px;
  padding-left: 16px;
  padding-top: 24px;
  padding-bottom: 40px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: auto;
  transform: translate(100%);
}

.mob-menu.is-open {
  transform: translate(0%);
}

.menu-close-btn {
  background-color: rgba(231, 233, 252, 0.25);
  border: 1px solid #0000001a;
  border-radius: 50%;
  position: relative;
  /* top: 24px;
  right: 24px; */
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mob-menu-list {
  margin-bottom: auto;
}

.mob-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mob-link-col {
  color: #404bbf;
}

.mob-list {
  display: flex;
  flex-direction: column-reverse;
}

.mob-mail {
  color: #434455;
}

.mob-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-social {
  justify-content: space-between;
  margin-top: 48px;
}
